.second { margin-top: 10px; float: left; }
.footer {
	background:#000000;
	text-align: center;
	height: 68px;
	padding-top: 26px;
}
.pic {
    margin-bottom: -3px;
    padding: 3px;
}

.menu-footer {
    background-color: #3a3a3c;
    border-top: 1px solid #e7e7e7;
    color: #777;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
}

.foot { color: #ffffff; }

.back { background-color: red; }

.right { float: right; margin-right: -35px;}
.pass { margin-left: 33px; }